@import "tailwindcss";

/* On garde vos bases si besoin, mais @import "tailwindcss" remplace les anciennes directives @tailwind */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}